<div class="container" id="slider">
    <img src="./../../assets/images/dog-api-logo.svg" alt="No Image" class="dog-image">
    <h4 id="dog-api-title">Dog API</h4>
    <div>
        <ul class="list-group list-group-flush" id="dog-option">
            <li class="list-group-item"> <a routerLink="/documentation" routerLinkActive="active"> Documentation </a> </li>
            <li class="list-group-item"> <a routerLink="/breedsList" routerLinkActive="active"> Breeds List </a> </li>
            <li class="list-group-item"> <a routerLink="/" routerLinkActive="active"> About </a> </li>
            <li class="list-group-item"><a routerLink="/" routerLinkActive="active"> Submit your dog </a></li>
        </ul>
    </div>
<br>
    <div>
        <ul class="list-group social-network-block">
            <li class="list-group-item"> <a
                    href="https://sideorders.co.uk/collections/frontpage/products/dog-ceo-issue-1">Dog CEO Zine </a>
            </li>
            <li class="list-group-item"> <a href="https://paypal.me/dogapi">Buy me a dog treat</a> </li>
            <li class="list-group-item"> <a href="https://github.com/RamyaNampally/Dog-CEO-app.git"> View on
                    GitHub</a> </li>
            <li class="list-group-item"> <a href="https://twitter.com/dog__CEO">Follow on Twitter</a></li>
        </ul>
    </div>
</div>
