/* You can add global styles to this file, and also import other style files */
.url-block {
    padding: 2%;
    border: 1px solid #eee;
    background: #eee;
    font-family: ubuntu mono, monospace;
}

.fetchBtn {
    padding: 1.7% 1%;
    background: #1a91db;
    color: white;
    border: 1px solid;
    margin-right: -25px;
    margin-left: 2%;
}
textarea{
    background: #eee;
    font-size: smaller;
}